<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timetables | Home</title>
    <link rel="icon" href="./img/ico.png">
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <header>
      <h1 class="header__text">Hi there, <br />Its Currently <span class="time"></span></h1>
      <h3 class="header__text">What's your class?</h3>
      <h1 class="phone__text">This aspect ratio isn't supported</h1>
      <h3 class="phone__text">Come back later!</h3>
      <h1 class="tablet__text">Rotate your device</h1>
      <h3 class="tablet__text">This aspect ratio isnt supported</h3>
    
    <main>
      <div class="timetable">
        <a href="/m22" class="timetable__1">
          2/2
        </a>
        <a href="/m26" class="timetable__2">
          2/6
        </a>
        <a
          href="/m213"
          class="timetable__3"
        >
          EP 2/3
        </a>
      </div>
      <div class="options options__no-margin">
        <h3>Class isnt here?</h3>
        <a href="/template/template.json" download>
          <button class="btn btn__big"><i class='bx bxs-widget' ></i> Get Template</button>
        </a>
        <a href="https://discord.gg/cVkrkkUw2W">
        <button class="btn btn__medium"><i class='bx bxl-discord-alt'></i> Discord</button>
      </a>
      <a href="https://github.com/SS-Developers/Timetables">
        <button class="btn btn__square"><i class='bx bxl-github'></i></button>
      </a>
          

      </div>
    </main>
  </header>
 <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  <script src="/script/main.js"></script>
</html>

