*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  color: var(--font);

  @include respond(tab-port) {
    padding: 0;
  }
}

.main {
  &__landing {
    background-color: #f2f2f2;
  }

  &__home {
    padding: 5rem;
  }

  &__timetable {
    padding: 3rem 5rem 3rem 5rem;
    background-color: var(--background);
  }
}
