.code {
  padding: 2rem;
  border-radius: 1.1rem;
  width: 100%;
  background: var(--gray-light-2);
  height: 80vh;
  overflow-y: scroll;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  // text-align: center;
}
