.accent {
  color: #fd5252;
}

.text-header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bold {
  h4 {
    font-weight: 700 !important;
  }
}

.u-remove-a-eff {
  text-decoration: none;
  color: var(--font);
}
