.btn {
  font-family: "athiti";
  border-radius: 1.1rem;
  height: 6vh;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--c-pri);
  border: none;
  transition: 0.25s;
  color: var(--c-text);
  margin-right: 1.1rem;

  &__square {
    width: 6vh;
    margin: 0.4rem;
  }

  &__medium {
    width: 15vw;
  }

  &__big {
    width: 25vw;
  }

  a {
    text-decoration: none;
    color: var(--c-text);
  }

  &:hover {
    transform: translateY(-0.3rem) translateX(-0.3rem);
    box-shadow: var(--c-sec) 0.3rem 0.3rem;
  }
  &:active {
    transform: translateX(0) translateY(0);
    box-shadow: none;
  }
}
