@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3e3e3e;
    --font-color: #fff;
    --gray-light-1: #505050;
    --gray-light-2: #404040;
    --gray-light-3: #494949;
    --gray-light-4: #3b3b3b;
    --gray-dark-1: #353535;
    --gray-dark-2: #2c2c2c;
    --modal-background: #3b3b3b; } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  color: var(--font-color); }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.main__landing {
  background-color: #f2f2f2; }

h1 {
  font-size: 3rem; }

p {
  font-size: 1.5rem; }

.navigation {
  height: 10vh;
  background-color: #f6f6f6;
  padding: 2rem 7vw;
  display: flex;
  justify-content: space-between; }
  .navigation__logo {
    display: flex;
    color: #000000;
    align-items: center;
    font-size: 2rem;
    gap: 0.5rem;
    font-weight: 600; }
    .navigation__logo img {
      height: 4rem; }
  .navigation__links {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .navigation__links a {
      color: #000000; }
    .navigation__links--getStarted {
      padding: 2rem;
      display: grid;
      place-content: center;
      color: #fff !important;
      font-size: 1.3rem;
      text-decoration: none;
      background-color: #fd5252;
      border-radius: 50rem; }

.landing__header {
  background-color: #eeeeee;
  padding: 6rem 7vw;
  color: #000;
  position: relative; }
  .landing__header--text {
    display: flex;
    gap: 2rem;
    flex-direction: column; }
    .landing__header--text h1 {
      font-size: 6rem;
      line-height: 106.5%; }
    .landing__header--text p {
      font-size: 1.7rem;
      line-height: 106.5%; }
    .landing__header--text a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: #fd5252;
      font-size: 1.7rem;
      text-decoration: none; }
      .landing__header--text a i {
        font-size: 2rem; }
