@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #202020;
    --c-text: #f0eaea;
    --c-pri: #424242;
    --c-sec: rgb(255, 113, 61);
  }
}

@media (prefers-color-scheme: light) {
  :root.light {
    --c-bg: #ff4949;
    --c-text: #000000;
    --c-pri: #dddddd;
    --c-sec: #ff4949;
  }
}
