.credits {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e9e6e6;

  &__contents {
    background-color: #e9e6e6;
    width: 100%;
    padding: 2rem;
    height: 40vh;
    border-radius: 1.1rem;

    h1 {
      color: #000;
    }
  }

  &__page {
    padding: 3rem;
    background-color: #eeeeee;
    margin: 3rem 0 3rem 0;
    border-radius: 1.1rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

    width: 70vw;
  }

  &__title {
    border-bottom: 3px solid #c4c4c4;
    color: #000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    span {
      font-size: 2rem;
      color: #fd5252;
    }
  }

  &__paragraph {
    h3 {
      font-size: 2rem;
      color: #000;
      margin-bottom: 1rem;
      border-bottom: 1px solid #c4c4c4;
      padding-bottom: 0.5rem;
    }

    p {
      color: #000;
      font-size: 1.3rem;
      margin-bottom: 3rem;
    }
  }
}
