.landing {
  &__header {
    background-color: #eeeeee;
    padding: 6rem 7vw;
    color: #000;
    position: relative;

    &--text {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      h1 {
        font-size: 6rem;
        line-height: 106.5%;
      }

      p {
        font-size: 1.7rem;
        line-height: 106.5%;
      }

      a {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: #fd5252;
        font-size: 1.7rem;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          transform: translateX(1.2rem);
        }

        &:hover > i {
          transform: translateX(-0.5rem);
        }

        i {
          transition: all 0.2s;
          font-size: 2rem;
        }
      }
    }
  }

  &__features {
    // text-align: center;
    padding: 4rem 20vw;
    color: #000;

    &--title {
      text-align: center;
      margin-bottom: 4rem;

      h1 {
        font-size: 4rem;
      }
    }
  }

  &__featuresItem {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h3 {
      font-size: 3rem;
      line-height: 104.5%;
      margin-bottom: 2rem;
    }
  }

  &__featuresContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
