.landing {
  &__header {
    background-color: #eeeeee;
    padding: 6rem 7vw;
    color: #000;
    position: relative;

    &--text {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      h1 {
        font-size: 6rem;
        line-height: 106.5%;
      }

      p {
        font-size: 1.7rem;
        line-height: 106.5%;
      }

      a {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: #fd5252;
        font-size: 1.7rem;
        text-decoration: none;

        i {
          font-size: 2rem;
        }
      }
    }
  }
}
