.setup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  &__left {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: var(--gray-light-3);

    @include respond(phone) {
      width: 100%;
    }

    p {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  &__textCon {
    margin: -3rem -3rem 0 -3rem;
    padding: 3rem 4rem 3rem 3rem;
    color: #fff;

    h1 {
      color: #fff;
    }
  }

  &__steps {
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__step {
    padding: 2rem;
    background: var(--gray-light-1);
    border-radius: 1.1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: all 0.5s;

    p {
      color: var(--font-color);
    }

    i {
      font-size: 3rem;
      color: var(--font-color);
    }

    span {
      font-weight: 700;
    }
  }

  &__right {
    padding: 3rem;
    color: var(--font-color);
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
  }

  &__preview {
    height: 50rem;
    background-color: var(--gray-light-1);
    border-radius: 1.1rem;
    margin-top: 3rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    width: 80%;

    @include respond(phone) {
      display: none;
    }

    h4 {
      color: var(--font-color);
      font-size: 3rem;
      margin-top: 2rem;
    }

    img {
      border-radius: 2rem;
      height: 10rem;
      width: 10rem;
    }
  }

  &__nameCon {
    padding: 0 2rem 2rem 2rem;
    border-bottom: 1px solid var(--gray-dark-1);
  }

  &__infoCon {
    padding: 2rem;

    h4 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }
  }

  &__imgCon {
    height: 30%;
    border-radius: 1.1rem 1.1rem 0 0;
    padding: 2rem;
  }
}

.eula {
  padding: 2rem;
  border-radius: 1.1rem;
  width: 100%;
  background: var(--gray-light-1);
  font-size: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  // text-align: center;

  &__text {
    // padding-bottom: 2rem;
    height: 15rem;
    overflow-y: scroll;
    margin-bottom: 2rem;
  }

  &__button {
    padding-top: 1rem;
    border-top: 1px solid var(--gray-dark-1);
    display: flex;
    align-items: center;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: auto;
    }

    button {
      height: 3rem;
      width: 3rem;
      border: none;
      background-color: transparent;
      border-radius: 1.1rem;
      color: var(--font-color);
      font-weight: 700;
      font-size: 3rem;
    }
  }
}
