.timetableNav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem 0 2.5rem;
  text-align: center;

  &__themeSwitcher {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 3rem;
    transition: all 0.2s;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.5rem;

    &:hover {
      background-color: #ffffff50;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__home {
    color: var(--font-color);
    font-size: 3rem;
    margin-right: auto;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
  }

  img {
    justify-self: flex-start;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    margin-right: 1rem;
    height: 4.5rem;
    width: 4.5rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }

  &__pref {
    color: #fff;
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 1rem;

    &:hover {
      background-color: #ffffff50;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.timetableAlert {
  padding: 3rem;
  display: flex;

  &__header {
    color: #fff;

    p {
      font-size: 1.5rem !important;
      margin-top: 0 !important;
    }

    h1 {
      color: #fff;
    }
  }

  &__selectImage {
    border-radius: 2rem;
    height: 10rem;
    width: 15rem !important;
    margin-left: auto;
    position: relative;
    transition: all 0.2s;
    display: grid;
    place-items: center;

    input {
      height: 20rem;
      width: 20rem;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
    }

    i {
      color: #fff;
    }

    img {
      object-fit: cover;
      border-radius: 1.1rem;
      height: 7rem;
      width: 7rem;
    }

    &:active {
      scale: 0.9;
    }

    @include respond(phone) {
      width: 20rem;
    }
  }

  p {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}

.timetableBar {
  height: 12rem;
  padding: 3rem;
  margin: 0 1rem 0 1rem;
  display: flex;
  gap: 3rem;

  @include respond(phone) {
    padding: 2rem 2rem 2rem 2rem;
  }

  &__text {
    color: var(--font-color);
    text-align: left;
    font-size: 1.5rem;

    h1 {
      @include respond(phone) {
        font-size: 2.8rem;
      }
    }
  }

  &__time {
    @include respond(phone) {
      display: none;
    }
  }

  &__input {
    height: 100%;
    margin-left: auto;

    input {
      border-radius: 1.1rem;
      border: none;
      padding: 2rem;
      font-weight: 600;
      width: 30vw;
      height: 100%;
      color: #fff;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff80;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ffffff80;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ffffff80;
      }

      @include respond(phone) {
        width: 50vw;
        height: 80%;
      }
    }
  }
}

.timetableCon {
  height: fit-content;
  margin: 0 3rem 3rem 3rem;
  border-radius: 1.1rem;
  transition: 0.2s all;
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    margin: 0 0 2rem 2rem;
  }

  @include respond(big-desktop) {
    margin: 0 4rem 4rem 4rem;
  }

  button {
    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
    width: fit-content;
    background: transparent;
    border: none;
  }
}

.timetableTable {
  background-color: var(--gray-light-1);
  height: 80vh;
  border-radius: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  overflow: scroll;
  transition: all 0.2s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond(tab-land) {
    border-radius: 1.1rem 0 0 1.1rem;
  }

  @include respond(phone) {
    grid-template-columns: 10rem 40rem 10rem 30rem;
    border-radius: 1.1rem 0 0 1.1rem;
  }

  @include respond(big-desktop) {
    height: 80vh !important;
    width: 100%;
    align-self: center;
  }

  div {
    background-color: var(--gray-light-3);
    border-radius: 1.1rem;
    transition: all 0.2s;
  }
}

.monday {
  background-color: #f0d750 !important;
  grid-column: 1/2;
  grid-row: 2/3;
}

.tuesday {
  background-color: #ff7f7f !important;
  grid-column: 1/2;
  grid-row: 3/4;
}

.wednesday {
  background-color: #6edf64 !important;
  grid-column: 1/2;
  grid-row: 4/5;
}

.thursday {
  background-color: #ff8a00 !important;
  grid-column: 1/2;
  grid-row: 5/6;
}

.friday {
  background-color: #00988f !important;
  grid-column: 1/2;
  grid-row: 6/7;
}

.t- {
  &r1c3 {
    grid-column: 3 / 4;
    grid-row: 1 / span 5;
  }

  &r1c3 {
    display: grid;
    place-items: center;

    h3 {
      color: var(--font-color);
      font-size: 1.5rem;
    }
  }
}

.weekday {
  color: var(--font-color);
  font-weight: 600;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.weekdays {
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.period {
  &__item {
    display: grid;
    gap: 1rem;
    overflow: hidden;
    place-items: center;

    h3 {
      display: grid;
      place-items: center;
      color: var(--font-color);
      font-size: 1.6rem;
      border-radius: 1.1rem;
      gap: 1rem;
      text-align: center;

      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
  }
}

.timetablePeriodTime {
  display: grid;
  place-items: center;
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--gray-light-3);
  // margin: 0 -0.5rem 0 -0.5rem !important;
  // border-radius: 0 !important;

  h3 {
    color: var(--font-color) !important;
  }

  &__first {
    border-radius: 1.1rem 0 0 1.1rem !important;
    margin: 0 -1rem 0 0 !important;
  }

  &__last {
    border-radius: 0 1.1rem 1.1rem 0 !important;
    margin: 0 0 0 -1rem !important;
    padding: 0 1rem 0 1rem;

    @include respond(tab-land) {
      padding: 0 1rem 0 1rem;
      width: 9rem;
    }
  }
}

.curPeriodHighlight {
  border-radius: 1.1rem;
  color: #fff !important;
  text-shadow: 0px 0px 10px #fff;
  font-weight: 800;
  font-size: 1.8rem !important;
}

.nextPeriodHighlight {
  //    border-radius: 1.1rem;
  //    color: #ffffff !important;
  //    text-shadow: 0px 0px 10px #ffffff;
  //    font-weight: 800;
}
