<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="./src/style/timeTable.css" />
    <link rel="icon" href="./ico.png">
    <title>Timetable - M2/3</title>
  </head>

  <body>
    <main>
      <div class="timetable-wrapper__eng">
        <div class="timetable">
          <div class="i-time"></div>
          <div class="i-time">08:30 - 09:10</div>
          <div class="i-time">09:20 - 10:00</div>
          <div class="i-time">10:10 - 10:50</div>
          <div class="i-time">11:00 - 11:40</div>
          <div class="i-time">11:40 - 11:40</div>
          <div class="i-time">12:40 - 13:20</div>
          <div class="i-time">13:30 - 14:10</div>
          <div class="i-time">14:20 - 15:00</div>

          <div class="i monday" style="background-color: #fabd2f">Monday</div>
          <div class="i-period monday">Foundation Math</div>
          <div class="i-double-period monday">Technology & Computer <br>Science</div>
          <div class="i-period monday">Foundation Science</div>
          <div class="i-lunch">Lunch Break</div>
          <div class="i-period monday">Universal Math</div>
          <div class="i-period monday">Universal Science</div>
          <div class="i-period monday">Physical Education (PE)</div>

          <div class="i tuesday" style="background-color: #d3869b">Tuesday</div>
          <div class="i-period tuesday">Universal Math</div>
          <div class="i-period tuesday">Foundation Science</div>
          <div class="i-period tuesday">Universal Science</div>
          <div class="i-period tuesday">Health</div>
          <div class="i-period tuesday">Suplemental English</div>
          <div class="i-period tuesday">History</div>
          <div class="i-period tuesday">Foundation English</div>

          <div class="i wednesday" style="background-color: #b8bb26">Wednesday</div>
          <div class="i-period wednesday">Suplemental English</div>
          <div class="i-period wednesday">Chinese</div>
          <div class="i-period wednesday">Universal Science</div>
          <div class="i-period wednesday">Foundation Math</div>
          <div class="i-period wednesday">Arts</div>
          <div class="i-period wednesday">Thai</div>
          <div class="i-period wednesday">Social</div>

          <div class="i thursday" style="background-color: #fe8019">Thursday</div>
          <div class="i-period thursday">Guidance</div>
          <div class="i-period thursday">Foundation Math</div>
          <div class="i-period thursday">Thai</div>
          <div class="i-period thursday">Foundation Science</div>
          <div class="i-period thursday">Scout</div>
          <div class="i-period thursday">Foundation English</div>
          <div class="i-period thursday">Club</div>

          <div class="i friday" style="background-color: #458588">Friday</div>
          <div class="i-period friday">Value Education (STEAM)</div>
          <div class="i-period friday">Chinese</div>
          <div class="i-period friday">Social</div>
          <div class="i-period friday">Thai</div>
          <div class="i-period friday">Foundation English</div>
          <div class="i-period friday">Occupational Works</div>
          <div class="i-period friday">Suplemental English</div>
        </div>
      </div>
      <div class="timetable-wrapper__thai hidden">
        <div class="timetable">
          <div class="i-time"></div>
          <div class="i-time">08:30 - 09:10</div>
          <div class="i-time">09:20 - 10:00</div>
          <div class="i-time">10:10 - 10:50</div>
          <div class="i-time">11:00 - 11:40</div>
          <div class="i-time">11:40 - 11:40</div>
          <div class="i-time">12:40 - 13:20</div>
          <div class="i-time">13:30 - 14:10</div>
          <div class="i-time">14:20 - 15:00</div>

          <div class="i monday" style="background-color: #fabd2f">Monday</div>
          <div class="i-period monday">Foundation Math</div>
          <div class="i-double-period monday">Technology & Computer <br>Science</div>
          <div class="i-period monday">Foundation Science</div>
          <div class="i-lunch">Lunch Break</div>
          <div class="i-period monday">Universal Math</div>
          <div class="i-period monday">Universal Science</div>
          <div class="i-period monday">Physical Education (PE)</div>

          <div class="i tuesday" style="background-color: #d3869b">Tuesday</div>
          <div class="i-period tuesday">Universal Math</div>
          <div class="i-period tuesday">Foundation Science</div>
          <div class="i-period tuesday">Universal Science</div>
          <div class="i-period tuesday">Health</div>
          <div class="i-period tuesday">Suplemental English</div>
          <div class="i-period tuesday">History</div>
          <div class="i-period tuesday">Foundation English</div>

          <div class="i wednesday" style="background-color: #b8bb26">Wednesday</div>
          <div class="i-period wednesday">Suplemental English</div>
          <div class="i-period wednesday">Chinese</div>
          <div class="i-period wednesday">Universal Science</div>
          <div class="i-period wednesday">Foundation Math</div>
          <div class="i-period wednesday">Arts</div>
          <div class="i-period wednesday">Thai</div>
          <div class="i-period wednesday">Social</div>

          <div class="i thursday" style="background-color: #fe8019">Thursday</div>
          <div class="i-period thursday">Guidance</div>
          <div class="i-period thursday">Foundation Math</div>
          <div class="i-period thursday">Thai</div>
          <div class="i-period thursday">Foundation Science</div>
          <div class="i-period thursday">Scout</div>
          <div class="i-period thursday">Foundation English</div>
          <div class="i-period thursday">Club</div>

          <div class="i friday" style="background-color: #458588">Friday</div>
          <div class="i-period friday">Value Education (STEAM)</div>
          <div class="i-period friday">Chinese</div>
          <div class="i-period friday">Social</div>
          <div class="i-period friday">Thai</div>
          <div class="i-period friday">Foundation English</div>
          <div class="i-period friday">Occupational Works</div>
          <div class="i-period friday">Suplemental English</div>
        </div>
      </div>
      <div class="widgets-container">
        <a href="https://ssdevelopers.xyz">
        <div class="big-widget credits" title="Original Design by Galax">Made by SS Developers</div>
        </a>
        <!-- <div class="widget credits" alt="Original Design by Galax">Original design by Galax</div> -->
        <div class="big-widget tdate hidden" id="date">Day, 00 Month 0000</div>
        <a href="https://time.is/">
        <div class="big-widget widget-time__wrapper"> 
          <div class="widget__time" id="date">Day, 00 Month 0000</div>
          <div class="widget__time" id="clock">00:00:00</div>
        </div>
      </a>
        <div class="widget">
          <div class="material-icons-outlined" id="color-scheme-toggle">light_mode</div>
        </div>

        <div class="changeLocale searchIco widget" id="language">
          <span class="changeTo"> TH</span></div>
        <div class="search material-icons-outlined">
          <div class="searchIco material-icons-outlined" id="searcher">
            search
          </div>
          <input id="searchIn" type="text" placeholder="Search here"/>
        </div>
      </div>
      <div class="footerCredits">
        <h3>Original Version by Galax</h3>
      </div>

      <div class="overlay"></div>
    </main>
    <script src="./src/script/timeTable.js"></script>
  </body>
</html>
