@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #EEEEEE;
    --font-color: #000;
    --gray-light-1: #e9e6e6;
    --gray-light-2: #E3E3E3;
    --gray-light-3: #DFDFDF;
    --gray-dark-1: #C4C4C4; } }

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3E3E3E;
    --font-color: #fff;
    --gray-light-1: #505050;
    --gray-light-2: #404040;
    --gray-light-3: #494949;
    --gray-dark-1: #353535; } }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.shake:hover {
  animation: shake 1s;
  animation-iteration-count: infinite; }

@keyframes bgColor {
  0% {
    background-color: #70F094; }
  33% {
    background-color: #e9a0fc; }
  66% {
    background-color: #69ACEA; }
  100% {
    background-color: #70F094; } }

.shiny {
  animation: slide 1s infinite 3s;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */ }

@keyframes slide {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu","Noto Sans Thai",sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

h1 {
  font-size: 4rem;
  color: var(--font-color); }

body {
  background-color: var(--background-color); }

a {
  text-decoration: none; }

.u-remove-a-eff {
  text-decoration: none;
  color: white; }

.blurred {
  filter: blur(1.1rem) brightness(0.85); }

@media only screen and (max-width: 37.5em) {
  .hiddenOnPhone {
    display: none; } }

.searched {
  opacity: 1;
  transition: all .2s; }

.hidden {
  opacity: 0;
  transition: all .2s; }

@media (prefers-color-scheme: light) {
  .blurred {
    filter: blur(1.1rem); } }

.bar {
  width: 100%;
  background-color: var(--gray-light-1);
  height: 45vh;
  border-radius: 1.1rem;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 4rem;
  border: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.25)); }
  @media only screen and (max-width: 37.5em) {
    .bar {
      height: fit-content;
      flex-direction: column;
      padding: 0;
      background-color: transparent;
      filter: none;
      height: 40rem; } }
  .bar__header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--font-color); }
    @media only screen and (max-width: 37.5em) {
      .bar__header {
        margin-left: 1rem; } }
  .bar__item {
    height: 100%;
    border-radius: 1.1rem;
    padding: 2rem;
    position: relative;
    transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1); }
    @media only screen and (max-width: 37.5em) {
      .bar__item {
        padding-bottom: 8rem; } }
    .bar__item--btn {
      position: absolute;
      bottom: 2rem;
      z-index: 2; }
    .bar__item h3 {
      font-size: 3rem;
      color: #fff;
      z-index: 100000000; }
    .bar__item p {
      font-size: 1.5rem;
      color: #fff; }
  .bar__icon {
    position: absolute;
    right: 2rem;
    bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .bar__icon {
        width: 70px;
        height: 70px; } }

.bsmall {
  width: 40%; }
  @media only screen and (max-width: 37.5em) {
    .bsmall {
      width: 100%; } }

.blarge {
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .blarge {
      width: 100%; } }

.covid {
  height: fit-content; }
  .covid div {
    height: 16rem; }
  @media only screen and (max-width: 37.5em) {
    .covid__global {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .covid__item {
      height: 20rem !important; } }

@media only screen and (max-width: 37.5em) {
  .welcome {
    height: 50vh; }
    .welcome img {
      height: 250px;
      width: 250px; }
    .welcome a button {
      z-index: 5; } }

.btn {
  position: absolute;
  background: var(--gray-light-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  padding: 1.2rem 2rem 2rem 2rem;
  transition: all .2s;
  width: fit-content;
  height: 4rem;
  border: none;
  color: var(--font-color); }
  .btn h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px; }
  .btn:hover {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px; }
  .btn:active {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px;
    transform: scale(0.9); }

.box {
  overflow-x: scroll;
  background: none;
  height: fit-content;
  border-radius: 1.1rem;
  scrollbar-color: #404040 rgba(0, 0, 0, 0);
  scrollbar-width: medium;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); }
  .box::-webkit-scrollbar-corner {
    border-radius: 1.1rem; }
  .box::-webkit-scrollbar {
    display: none; }
  .box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); }
  .box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1.1rem; }
  .box::-webkit-scrollbar-thumb:hover {
    background: #555; }

.timetable {
  height: 20rem;
  width: fit-content;
  overflow-x: hidden;
  margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .timetable {
      height: fit-content;
      width: inherit; } }
  .timetable__item {
    height: 100%;
    border-radius: 1.1rem;
    padding: 2rem;
    position: relative;
    transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1);
    text-decoration: none;
    width: 30rem; }
    @media only screen and (max-width: 37.5em) {
      .timetable__item {
        width: 100%; } }
    .timetable__item:hover {
      width: 35rem; }
    .timetable__item:active {
      transform: scale(0.9); }
    .timetable__item--btn {
      position: absolute;
      bottom: 2rem; }
    .timetable__item h3 {
      font-size: 3rem;
      color: #fff; }
    .timetable__item h4 {
      font-size: 2rem;
      color: #fff; }

/**
 * Main wrapper
 */
.select-search {
  width: 50%;
  position: relative;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    .select-search {
      width: 100%; } }

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit; }

/**
 * Value wrapper
 */
.select-search__value {
  position: relative;
  z-index: 1; }

.select-search__value::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px; }

/**
 * Input
 */
.select-search__input {
  display: block;
  height: 50px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: var(--background-color);
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
  border-radius: 1.1rem;
  color: var(--font-color); }

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none; }

.select-search__input:not([readonly]):focus {
  cursor: initial; }

/**
 * Options wrapper
 */
.select-search__select {
  background: var(--gray-dark-1);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem !important;
  margin-top: 1rem; }

/**
 * Options
 */
.select-search__options {
  list-style: none; }

/**
 * Option row
 */
.select-search__row:not(:first-child) {
  border-top: 1px solid var(--gray-); }

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: var(--gray-dark-1);
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  color: var(--font-color); }

.select-search--multiple .select-search__option {
  height: 48px; }

.select-search__option.is-selected {
  background: #818181a4;
  color: var(--font-color); }

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: var(--gray-light-1); }

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #353535a4;
  color: var(--font-color); }

/**
 * Group
 */
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px; }

/**
 * States
 */
.select-search.is-disabled {
  opacity: 0.5; }

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px; }

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer; }

/**
 * Modifiers
 */
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden; }

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none; }

.select-search--multiple .select-search__input {
  cursor: initial; }

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0; }

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default; }

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #FF5252; }

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px; }

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px; }

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: var(--font-color); }

.header {
  background-size: cover;
  padding: 8vh;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-direction: column;
      gap: 4rem;
      padding: 3vh;
      height: 25vh; } }
  .header h1 {
    color: #fff;
    font-size: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .header h1 {
        font-size: 4rem; } }
  .header__account {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem; }
    .header__account img {
      border-radius: 50%;
      display: inline-block;
      object-fit: cover; }
      @media only screen and (max-width: 37.5em) {
        .header__account img {
          height: 110px;
          width: 110px; } }
    .header__account h3 {
      color: white;
      font-size: 3rem;
      text-align: right; }
      @media only screen and (max-width: 37.5em) {
        .header__account h3 {
          font-size: 2rem;
          display: hidden;
          opacity: 0;
          color: transparent; } }
  .header__userProfile a {
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    transition: all .2s;
    position: relative;
    display: grid;
    place-items: center; }
    .header__userProfile a span {
      position: absolute;
      font-size: 5rem;
      color: #fff;
      opacity: 0;
      z-index: 5;
      transition: all 0.1s;
      transition-delay: 0.1s; }
    .header__userProfile a img {
      transition: all 0.2s; }
    .header__userProfile a:hover > img {
      filter: blur(1.1rem); }
    .header__userProfile a:hover > span {
      opacity: 1; }
    .header__userProfile a:hover {
      transform: scale(1.1); }
    .header__userProfile a:active {
      transform: scale(0.9); }

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--gray-dark-1);
  z-index: 1000; }
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    color: var(--font-color); }
  footer a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.5s; }
    footer a:hover {
      color: var(--gray-dark-1); }
  footer h3 {
    color: var(--font-color); }

.dark-footer {
  background-color: var(--gray-dark-1); }

main {
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    main {
      padding: 2rem 2rem 2rem 2rem; } }

.login {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative; }
  .login h3 {
    font-size: 4.5rem;
    color: var(--font-color); }
  .login p {
    color: var(--font-color);
    font-size: 1.5rem; }
  .login a {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    border: none;
    background-color: #FF5252;
    padding: 2rem;
    width: 90%;
    border-radius: 1.1rem;
    height: 7rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .3s; }
    .login a:hover {
      box-shadow: 0px 0px 20px #FF5252; }
    .login a:active {
      transform: scale(0.85); }
  .login__logo {
    z-index: 150;
    width: 15rem;
    height: 15rem;
    position: fixed;
    right: 2rem;
    top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .login__logo {
        display: none; } }
  .login__rectangle {
    transition: all .4s;
    height: 100%;
    width: 115%;
    position: fixed;
    left: -15%;
    z-index: 1;
    top: 0;
    transform: skew(0deg, 45deg);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #FF5252; }
  .login__modal {
    position: relative;
    background-color: var(--gray-light-1);
    border-radius: 1.1rem;
    height: 50rem;
    width: 40rem;
    padding: 2rem;
    z-index: 10;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 37.5em) {
      .login__modal {
        position: absolute;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        border-radius: 0; } }
  .login__text {
    margin-bottom: 2rem; }
    .login__text p {
      margin-top: 1rem; }
  .login__form input {
    background-color: var(--gray-light-3);
    border: none;
    padding: 1.5rem;
    width: 100%;
    border-radius: 1.1rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    color: var(--font-color);
    transition: all 0.1s cubic-bezier(0.61, 1, 0.88, 1); }
    .login__form input:focus {
      box-shadow: 0px 0px 20px var(--font-color);
      border: var(--font-color) 3px solid; }
  .login__form label {
    transition: all .2s;
    color: var(--font-color); }
  .login__footer {
    z-index: 100;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-align: right;
    opacity: 50%; }
    @media only screen and (max-width: 37.5em) {
      .login__footer {
        display: none; } }
    .login__footer p {
      font-weight: 800;
      font-size: 1.5rem; }

.redirect {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%; }
  .redirect div {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .redirect div {
        flex-direction: column; } }
  .redirect h3 {
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 500;
    margin-left: 2rem;
    text-align: center; }

.config {
  padding: 3rem 3rem 0 3rem; }
  @media only screen and (max-width: 37.5em) {
    .config {
      padding: 2rem; } }
  .config__bar {
    width: 100%;
    background-color: var(--gray-light-1);
    height: fit-content;
    border-radius: 1.1rem;
    padding: 2rem;
    border: none;
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.25));
    position: relative;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .config__bar {
        flex-direction: column; } }
    .config__bar h3 {
      color: var(--font-color);
      font-size: 2rem;
      margin-right: 2rem; }
  .config__item {
    background-color: var(--gray-light-2);
    padding: 2rem;
    border-radius: 1.1rem;
    width: fit-content;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .config__item {
        width: 100%; } }
    .config__item h3 {
      margin-bottom: 1rem;
      width: 100%; }
  .config__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .config__container {
        width: 100%;
        border-right: none; } }
  .config__logout {
    background-color: var(--gray-light-2);
    border: none;
    border-radius: 1.1rem;
    width: 15rem;
    color: var(--font-color);
    transition: all .2s;
    font-size: 4rem;
    display: grid;
    align-items: center;
    height: 15rem;
    margin-left: auto;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1)); }
    @media only screen and (max-width: 37.5em) {
      .config__logout {
        width: 100%;
        font-size: 3rem;
        height: 7rem;
        margin-top: 2rem; } }
    .config__logout:active {
      transform: scale(0.85); }
  @media only screen and (max-width: 37.5em) {
    .config__switch {
      margin-left: auto; } }

.removeTimetables {
  padding: 3rem;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .removeTimetables {
      padding: 2rem; } }

.addTimetables {
  width: 40%;
  height: 30rem;
  border-radius: 1.1rem;
  background-color: var(--gray-light-1);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .addTimetables {
      height: 20rem; } }
  .addTimetables h3 {
    color: var(--font-color);
    font-size: 2rem;
    margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .addTimetables {
      width: 100%; } }
  .addTimetables__submit {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    border: none;
    background-color: #FF5252;
    padding: 1rem;
    width: 40%;
    border-radius: 1.1rem;
    height: 5rem;
    color: white;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none; }
    .addTimetables__submit:active {
      transform: scale(0.85); }

.row {
  display: flex;
  gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .row {
      flex-direction: column; } }

.timetableNav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem 0 2.5rem; }
  .timetableNav a {
    color: var(--font-color);
    font-size: 3rem;
    margin-right: auto; }
  .timetableNav img {
    justify-self: flex-start;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover; }
  .timetableNav h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff; }

.timetableBar {
  height: 12rem;
  padding: 3rem;
  margin: 0 1rem 0 1rem;
  display: flex;
  gap: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .timetableBar {
      padding: 2rem 2rem 2rem 2rem; } }
  .timetableBar__text {
    color: var(--font-color);
    text-align: left;
    font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .timetableBar__time {
      display: none; } }
  .timetableBar__input {
    height: 100%;
    margin-left: auto; }
    .timetableBar__input input {
      border-radius: 1.1rem;
      border: none;
      padding: 2rem;
      font-weight: 600;
      width: 30vw;
      height: 100%;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .timetableBar__input input {
          width: 50vw;
          height: 80%; } }

.timetableCon {
  height: fit-content;
  margin: 0 3rem 3rem 3rem;
  border-radius: 1.1rem;
  transition: .2s all;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .timetableCon {
      margin: 0 0 2rem 2rem; } }
  .timetableCon button {
    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
    width: fit-content;
    background: transparent;
    border: none; }

.timetableTable {
  background-color: var(--gray-light-1);
  height: 80vh;
  border-radius: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  overflow: scroll;
  transition: all .2s;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .timetableTable::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 37.5em) {
    .timetableTable {
      grid-template-columns: 10rem 40rem 10rem 30rem;
      border-radius: 1.1rem 0 0 1.1rem; } }
  .timetableTable div {
    background-color: var(--gray-light-3);
    border-radius: 1.1rem;
    transition: all .2s; }

.t-r1c3 {
  grid-column: 3 / 4;
  grid-row: 1 / span 5; }

.t-r1c1 {
  background-color: #F0D750 !important; }

.t-r2c1 {
  background-color: #FF7F7F !important; }

.t-r3c1 {
  background-color: #6EDF64 !important; }

.t-r4c1 {
  background-color: #FF8A00 !important; }

.t-r5c1 {
  background-color: #00988F !important; }

.t-r1c3 {
  display: grid;
  place-items: center; }
  .t-r1c3 h3 {
    color: var(--font-color);
    font-size: 1.5rem; }

.weekdays {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  padding: 1rem; }

.periods__morning {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  overflow: hidden; }
  .periods__morning h3 {
    display: grid;
    place-items: center;
    color: var(--font-color);
    font-size: 1.6rem;
    border-radius: 1.1rem;
    gap: 1rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .periods__morning h3 {
        font-size: 1.4rem; } }

.periods__afternoon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all .2s;
  gap: 1rem;
  overflow: hidden; }
  .periods__afternoon h3 {
    display: grid;
    place-items: center;
    color: var(--font-color);
    font-size: 1.6rem;
    transition: all .2s;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .periods__afternoon h3 {
        font-size: 1.4rem; } }

.timetablePeriodTime {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .timetablePeriodTime h3 {
    display: grid;
    place-items: center;
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 500; }

.learning {
  background-color: #fff;
  border-radius: 1.1rem;
  color: #000 !important; }
