@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #EEEEEE;
    --font-color: #000;
    --gray-light-1: #E6E6E6;
    --gray-light-2: #E3E3E3;
    --gray-dark-1: #C4C4C4; } }

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3E3E3E;
    --font-color: #fff;
    --gray-light-1: #505050;
    --gray-light-2: #404040;
    --gray-dark-1: #353535; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu",sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

h1 {
  font-size: 4rem; }

body {
  background-color: var(--background-color); }

.u-remove-a-eff {
  text-decoration: none;
  color: white; }

.bar {
  width: 100%;
  background-color: var(--gray-light-1);
  height: 45vh;
  border-radius: 1.1rem;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 4rem;
  border: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.25)); }
  @media only screen and (max-width: 37.5em) {
    .bar {
      height: fit-content;
      flex-direction: column; } }
  .bar__header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--font-color); }
    @media only screen and (max-width: 37.5em) {
      .bar__header {
        margin-left: 1rem; } }
  .bar__item {
    height: 100%;
    border-radius: 1.1rem;
    padding: 2rem;
    position: relative;
    transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1); }
    @media only screen and (max-width: 37.5em) {
      .bar__item {
        padding-bottom: 8rem; } }
    .bar__item--btn {
      position: absolute;
      bottom: 2rem; }
    .bar__item h3 {
      font-size: 3rem;
      color: #fff; }
    .bar__item p {
      font-size: 1.5rem;
      color: #fff; }
  .bar__icon {
    position: absolute;
    right: 2rem;
    bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .bar__icon {
        width: 70px;
        height: 70px; } }

.bsmall {
  width: 40%; }
  @media only screen and (max-width: 37.5em) {
    .bsmall {
      width: 100%; } }

.blarge {
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .blarge {
      width: 100%; } }

.btn {
  position: absolute;
  background: var(--gray-light-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  padding: 1.2rem 2rem 2rem 2rem;
  transition: all .2s;
  width: fit-content;
  height: 4rem;
  border: none;
  color: var(--font-color); }
  .btn h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px; }
  .btn:hover {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px; }
  .btn:active {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px;
    transform: scale(0.9); }

.box {
  overflow-x: scroll;
  background: none;
  height: fit-content;
  border-radius: 1.1rem;
  scrollbar-color: #404040 rgba(0, 0, 0, 0);
  scrollbar-width: medium;
  /* width */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); }
  .box ::-webkit-scrollbar-corner {
    border-radius: 1.1rem; }
  .box ::-webkit-scrollbar-track {
    background: none; }
  .box ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1.1rem; }
  .box ::-webkit-scrollbar-thumb:hover {
    background: #555; }

.timetable {
  height: 20rem;
  width: fit-content;
  overflow-x: scroll;
  margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .timetable {
      height: fit-content;
      width: inherit; } }
  .timetable__item {
    height: 100%;
    border-radius: 1.1rem;
    padding: 2rem;
    position: relative;
    transition: all 0.4s cubic-bezier(0.85, 0, 0.15, 1);
    width: 30rem; }
    @media only screen and (max-width: 37.5em) {
      .timetable__item {
        width: 100%; } }
    .timetable__item:hover {
      width: 35rem; }
    .timetable__item--btn {
      position: absolute;
      bottom: 2rem; }
    .timetable__item h3 {
      font-size: 3rem;
      color: #fff; }
    .timetable__item h4 {
      font-size: 2rem;
      color: #fff; }

.header {
  background-size: cover;
  padding: 8vh;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-direction: column;
      gap: 4rem;
      padding: 3vh;
      height: 25vh; } }
  .header h1 {
    color: #fff;
    font-size: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .header h1 {
        font-size: 4rem; } }
  .header__account {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem; }
    .header__account img {
      border-radius: 100%; }
      @media only screen and (max-width: 37.5em) {
        .header__account img {
          height: 110px;
          width: 110px; } }
    .header__account h3 {
      color: white;
      font-size: 3rem;
      text-align: right; }
      @media only screen and (max-width: 37.5em) {
        .header__account h3 {
          font-size: 2rem;
          display: hidden;
          opacity: 0;
          color: transparent; } }

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--gray-dark-1); }
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    color: var(--font-color); }
  footer a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.5s; }
  footer a:hover {
    color: var(--gray-dark-1); }
  footer h3 {
    color: var(--font-color); }

.dark-footer {
  background-color: var(--gray-dark-1); }

main {
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    main {
      padding: 2rem 2rem 2rem 2rem; } }

.notFound {
  background-color: var(--background-color);
  height: 100vh;
  display: grid;
  place-items: center; }
  @media only screen and (max-width: 37.5em) {
    .notFound {
      display: block; } }
  .notFound__modal {
    background-color: var(--gray-light-1);
    height: 50vh;
    width: 50vw;
    padding-bottom: 2rem;
    border-radius: 1.1rem;
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.25)); }
    @media only screen and (max-width: 37.5em) {
      .notFound__modal {
        position: fixed;
        width: 90%;
        height: 50%;
        margin: 2rem;
        bottom: 0; } }
  .notFound__text {
    background-color: #F95E5E;
    padding: 2rem;
    border-radius: 1.1rem 1.1rem 0 0;
    color: var(--font-color); }
  .notFound button {
    position: absolute;
    width: 20rem;
    height: 5rem;
    right: 2rem;
    bottom: 2rem; }

.redirect {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%; }
  .redirect div {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .redirect div {
        flex-direction: column; } }
  .redirect h3 {
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 500;
    margin-left: 2rem; }
