@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
/* line 3, src/sass/main.scss */
html {
  font-size: 62.5%;
  font-family: "Athiti", sans-serif; }

/* line 8, src/sass/main.scss */
body {
  background-color: var(--background); }

/* line 12, src/sass/main.scss */
h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 5.5rem; }

/* line 18, src/sass/main.scss */
h3 {
  font-size: 3rem;
  font-weight: 400; }

/* line 23, src/sass/main.scss */
header {
  position: absolute;
  top: 7vh;
  left: 10vw; }

/* line 29, src/sass/main.scss */
:root {
  --timetableColor: #e8e7e6;
  --background: #ffffff;
  --timetableHover: rgb(255, 48, 48); }

/* line 55, src/sass/main.scss */
.timetable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three";
  grid-gap: 3rem;
  height: 40vh;
  width: 70vw; }
  /* line 63, src/sass/main.scss */
  .timetable__1 {
    grid-area: one;
    background-color: #e8e7e6;
    border-radius: 1.1rem;
    transition: all 0.25s;
    font-size: 4rem;
    font-weight: 600;
    padding: 2vw;
    color: black;
    text-decoration: none; }
    /* line 45, src/sass/main.scss */
    .timetable__1:hover {
      transform: scale(1.05);
      box-shadow: 6px 6px var(--timetableHover); }
    /* line 50, src/sass/main.scss */
    .timetable__1:active {
      transform: scale(0.9); }
  /* line 67, src/sass/main.scss */
  .timetable__2 {
    grid-area: two;
    background-color: #e8e7e6;
    border-radius: 1.1rem;
    transition: all 0.25s;
    font-size: 4rem;
    font-weight: 600;
    padding: 2vw;
    color: black;
    text-decoration: none; }
    /* line 45, src/sass/main.scss */
    .timetable__2:hover {
      transform: scale(1.05);
      box-shadow: 6px 6px var(--timetableHover); }
    /* line 50, src/sass/main.scss */
    .timetable__2:active {
      transform: scale(0.9); }
  /* line 71, src/sass/main.scss */
  .timetable__3 {
    grid-area: three;
    background-color: #e8e7e6;
    border-radius: 1.1rem;
    transition: all 0.25s;
    font-size: 4rem;
    font-weight: 600;
    padding: 2vw;
    color: black;
    text-decoration: none; }
    /* line 45, src/sass/main.scss */
    .timetable__3:hover {
      transform: scale(1.05);
      box-shadow: 6px 6px var(--timetableHover); }
    /* line 50, src/sass/main.scss */
    .timetable__3:active {
      transform: scale(0.9); }
