@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
:root,
:root.light {
  --c-bg: #ff4949;
  --c-text: #000000;
  --c-pri: #dddddd;
  --c-sec: #a50000;
}

:root.dark {
  --c-bg: #202020;
  --c-text: #f0eaea;
  --c-pri: #272727;
  --c-sec: orangered;
}

input {
  font-family: "ubuntu", sans-serif;
}

div.timetable-wrapper__thai {
  overflow-x: auto;
  margin: 5vh;
  transition: 0.5s;
  font-family: "Athiti", sans-serif;
  font-weight: 600;
}

div.timetable-wrapper__eng {
  overflow-x: auto;
  margin: 5vh;
  transition: 0.5s;
  /* font-family: "Cascadia Code"; */
  font-family: "ubuntu", sans-serif;
  font-weight: 600;
}

div.timetable {
  height: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 4vh repeat(5, 13vh);
  grid-template-columns: repeat(9, 9vw);
  padding: 1.5vh;
}

div.i,
div.i-double-period,
div.i-lunch,
div.i-period,
div.i-time,
div.ti,
div.ti-double-period,
div.ti-lunch,
div.ti-period,
div.ti-time {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-pri);
  border-radius: 0.5rem;
  transition: transform 0.5s;
}

div.i-time,
div.i,
div.ti-time,
div.ti {
  font-weight: 700;
}

div.i-time,
div.ti-time {
  z-index: 10;
}
div.i:hover,
div.i-lunch:hover,
div.i-time:hover,
div.ti:hover,
div.ti-lunch:hover,
div.ti-time:hover {
  font-size: 1vw;
}
div.i-period,
div.ti-period {
  transition: 0.3s ease-in-out;
}

div.i-period:hover,
div.ti-period:hover {
  font-size: 1.1vw;
  box-shadow: 0 0px 30px rgba(26, 26, 26, 0.65);
}

div.i-period:active,
div.ti-period:active {
  transform: scale(0.8);
}

div.i-double-period,
div.ti-double-period {
  grid-column: span 2;
  transition: all 0.3s;
}

div.i-double-period:hover,
div.ti-double-period:hover {
  font-size: 1.1vw;
  box-shadow: 0 0px 13px rgba(26, 26, 26, 0.65);
}
div.i-double-period:active,
div.ti-double-period:active {
  transform: scale(0.8);
  box-shadow: 0 0px 13px rgba(26, 26, 26, 0.65);
}

div.i-lunch,
div.ti-lunch {
  color: var(--c-sec);
  grid-row: span 5;
  z-index: 20;
}

div.i-blank,
div.ti-blank {
  border: 3px solid var(--c-pri);
  border-radius: 0.5rem;
}

div.widgets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

div.widgets-container a {
  text-decoration: none;
}

div.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-pri);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  box-shadow: 0 5px 5px #1a1a1a54;
  font-weight: 700;
  color: var(--c-sec);
  transition: transform 0.5s;
  text-decoration: none;
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  height: 6vh;
}

div.widget:hover {
  transform: scale(1.15);
}

div.widget:active {
  transform: scale(0.5);
}

div.big-widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-pri);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
  box-shadow: 0 5px 5px #1a1a1a54;
  font-weight: 700;
  color: var(--c-sec);
  transition: transform 0.5s;
  text-decoration: none;
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  height: 6vh;
}

.widget-time__wrapper {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

/* .widget__time {
  display: flex;
  justify-content: right;

  color: var(--c-sec);
} */

/* .widget__time#clock {
  text-align: end;
  border-left: 1px solid rgb(74, 74, 74);
  width: 35%; }*/

.widget-time__wrapper {
  display: grid;
  place-items: center;
  color: var(--c-sec);
}

.widget__time--line {
  width: 1px;
  height: 80%;
  background-color: #404040;
}

div.big-widget:hover {
  transform: scale(1.05);
}

div.big-widget:active {
  transform: scale(0.9);
}
#color-scheme-toggle {
  color: var(--c-sec);
  font-size: 1.15vw;
  cursor: pointer;
  transition: all 0.5s;
}
#color-scheme-toggle:hover {
  font-size: 1.15vw;
  cursor: pointer;
  transform: scale(1.15);
}
#color-scheme-toggle:active {
  font-size: 1.15vw;
  cursor: pointer;
  transform: scale(0.5);
}

div.widget#language {
  font-size: 1.15vw;
  cursor: pointer;
}
div.widget#language:hover {
  font-size: 1.15vw;
  cursor: pointer;
  transform: scale(1.15);
}
div.widget#language:active {
  font-size: 1.15vw;
  cursor: pointer;
  transform: scale(0.5);
}
div.search#searcher {
  font-size: 1.15vw;
  cursor: pointer;
  width: 5rem;
  transition: all 0.2s;
}
div.search#searcher:hover {
  font-size: 1.15vw;
  cursor: pointer;
}
div.search#searcher:focus {
  font-size: 1.15vw;
  cursor: pointer;
}
div.search input {
  background-color: var(--c-pri);
  outline: none;
  border: none;
  text-align: start;
  padding: none;
  color: orangered;
  font-weight: 500;
  transition: all 0.2s;
  width: 10vw;
}

div.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-pri);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
  box-shadow: 0 5px 5px #1a1a1a54;
  font-weight: 700;
  color: var(--c-sec);
  transition: all 0.5s;
  text-decoration: none;
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  height: 6vh;
}

.search:hover {
  transform: scale(1.05);
}

div.searchIco {
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--c-sec);
  margin-right: 1vw;
}

div.tdate {
  font-family: "Athiti", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--c-text);
  user-select: none;
  text-align: center;
}

main {
  background-color: var(--c-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-sec);
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background-color: var(--c-pri);
  border-radius: 100%;
}

div.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
}

.changeTo {
  font-size: 1vw;
  color: var(--c-sec);
}

.footerCredits {
  font-family: "Athiti", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.footerCredits h3 {
  color: #424242;
  margin-left: 1rem;
}
