* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Ubuntu",sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
}

body {
  background-color: var(--background-color);
}

