.u-remove-a-eff {
    text-decoration: none;
    color: white;
}

.blurred {
    filter: blur(1.1rem) brightness(0.85);
}

.hiddenOnPhone {
    @include respond(phone) {
        display: none;
    }
}

.searched {
    opacity: 1;
    transition: all .2s;
}

.hidden {
    opacity: 0;
    transition: all .2s;
}