.timetable {
    height: 30vh;

    &__item {
        height: 100%;
        border-radius: 1.1rem;
        padding: 2rem;
        position: relative;
        transition: all .4s cubic-bezier(0.85, 0, 0.15, 1);

        width: 30rem;

        &:hover {
            width: 35rem;
        }

        &--btn {
            position: absolute;
            bottom: 2rem;
        }

        h3 {
            font-size: 3rem;
            color: #fff;
        }
    }
}