.activity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 25vh;
  gap: 2rem;

  @include respond(big-desktop) {
    padding: 0 10vw 0 10vw;
  }

  &__header {
    @include respond(big-desktop) {
      padding: 0 10vw 0 10vw;
    }
    margin-bottom: 2rem;
  }

  &__block {
    box-shadow: 0 0 4rem #00000005;
    background-color: var(--light-2);
    border-radius: 1.1rem;
    padding: 2.5rem;
    transition: all 0.2s;
    text-decoration: none;
    color: var(--font);

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 0 4rem #00000010;
    }

    &:active {
      transform: translateY(0rem);
      box-shadow: 0 0 4rem #00000005;
    }
  }

  &__timeline {
    grid-row: span 2;
    grid-column: span 2;
    position: relative;

    &--left {
      position: absolute;
      top: 5rem;
      left: 3rem;
      background: linear-gradient(
        90deg,
        rgba(241, 241, 241, 1) 0%,
        rgba(241, 241, 241, 0) 100%
      );
      z-index: 3;
      width: 60%;

      h1 {
        font-size: 4rem;
        line-height: 106.5%;
        margin-top: 3rem;
        width: 50%;
      }
    }

    &--mutual {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 5rem;
      font-size: 1.3rem;
      color: var(--font) !important;
      font-weight: 600;
    }

    &--mutualAvatars {
      display: flex;
      margin-left: 1rem;

      img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-left: -1rem;
        border: 2px solid var(--light-2);
      }
    }

    &--vl {
      border-left: 7px solid var(--dark-1);
      height: 100%;
      position: absolute;
      right: 18rem;
      top: 0;
    }

    &--progressVl {
      border-left: 7px solid var(--accent);
      height: 51%;
      position: absolute;
      right: 18rem;
      top: 0;
      z-index: 2;
      transition: all 0.2s;
      border-radius: 0 0 2rem 2rem;
    }

    &--dot {
      height: 2rem;
      width: 2rem;
      background-color: var(--accent);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -1.35rem;
      transition: all 0.2s;
    }

    &--smallContent {
      height: 2rem !important;
    }

    &--dotContentRight {
      position: absolute;
      height: 3rem;
      display: flex;
      align-items: center;
      left: 5rem;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 100%;
    }

    &--dotContentLeft {
      position: absolute;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      right: 5rem;
      width: 15rem;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 100%;
      color: var(--light-text);
    }
  }

  &__boardHighlight {
    grid-column: span 2;

    h3 {
      width: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    &--title {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }
  }

  &__class {
    h3 {
      font-weight: 700;
      line-height: 106.5%;
      margin-bottom: 1.5rem;
    }

    p {
      color: var(--light-text);
    }
  }

  &__add {
    i {
      font-size: 5rem;
    }

    p {
      color: var(--light-text);
    }
  }
}
