.btn {
  position: absolute;
  background: var(--gray-light-2);
  border-radius: 11px;
  padding: 1.2rem 2rem 2rem 2rem;
  transition: all 0.2s;
  width: fit-content;
  height: 4rem;

  border: none;
  color: var(--font-color);

  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
  }

  &:hover {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px;
  }

  &:active {
    color: #000;
    background-color: white;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px;
    transform: scale(0.9);
  }
}
