.bar {
  width: 100%;
  background-color: var(--gray-light-1);
  height: 30rem;
  border-radius: 1.1rem;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 4rem;
  border: none;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);

  // Remove scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;

  // filter: drop-shadow(0 2.4rem 4.8rem rgba(0, 0, 0, 0.15));

  @include respond(phone) {
    height: fit-content;
    // min-height: 60vh;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
    height: fit-content;
    margin-bottom: 2rem;
    overflow: visible;
    box-shadow: none;
  }

  &__header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--font-color);

    @include respond(phone) {
      margin-left: 1rem;
    }
  }

  &__booksTmr {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    gap: 0.5rem;
    grid-template-areas: "lable1 lable2" "container container";
    flex-direction: column;
    height: 100%;

    @include respond(phone) {
      height: 25rem;
    }

    p {
      margin-left: 1rem;

      @include respond(phone) {
        margin: 1rem 0 1rem 0 !important;
        width: 100% !important;
      }
    }

    &--container {
      grid-area: container;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #7f68f2;
      padding: 1rem;
      border-radius: 1.1rem;
      width: 100%;
      height: calc(100% - 5rem);

      @include respond(phone) {
        background-color: var(--gray-light-3);
        height: 25rem;
      }
    }

    &--left {
      padding: 0 1rem 1rem 1rem;
      border-right: 1px solid #755cf6;
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      // white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      @include respond(phone) {
        color: var(--font-color);
        padding: 1rem;
        gap: 1rem;

        border-right: var(--gray-dark-2);
      }

      span {
        color: #53e08e;
        font-weight: 700;
        // font-size: 2rem;
      }
    }

    &--right {
      padding: 0 1rem 1rem 2rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;
      display: flex;
      gap: 0.5rem;

      flex-direction: column;

      overflow-y: scroll;

      @include respond(phone) {
        color: var(--font-color);
        padding: 1rem;
        gap: 1rem;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      span {
        color: #fd5252;
        font-weight: 700;
        // font-size: 2rem;
      }
    }
  }

  &__item {
    height: 100%;
    border-radius: 1.1rem;
    padding: 2rem;
    position: relative;
    transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1);

    @include respond(phone) {
      padding-bottom: 8rem;
      background-color: var(--gray-light-1) !important;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    }

    &--btn {
      position: absolute;
      bottom: 2rem;
      z-index: 2;
    }

    h3 {
      font-size: 3rem;
      color: #fff;
      z-index: 100000000;
      width: 70%;

      @include respond(phone) {
        width: calc(100% + 4rem);
        color: #fff;
        margin: -2rem -2rem 0 -2rem;
        padding: 2rem;
        padding-bottom: 2rem;
        border-radius: 1.1rem 1.1rem 0 0;
        // color: var(--font-color) !important;
      }
    }

    p {
      font-size: 1.5rem;
      width: 70%;
      color: #fff;

      @include respond(phone) {
        margin-top: 2rem;
        color: var(--font-color) !important;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    @include respond(phone) {
      width: 70px;
      height: 70px;
    }
  }
}

.b {
  &small {
    width: 40%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &large {
    width: 60%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &full {
    width: 100%;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.covid {
  height: fit-content;

  div {
    height: 16rem;
  }

  &__global {
    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    @include respond(phone) {
      height: 20rem !important;
    }
  }
}

.welcome {
  @include respond(phone) {
    img {
      height: 150px;
      width: 150px;
    }

    a {
      button {
        z-index: 5;
      }
    }
  }
}
