.iAPI {
  display: grid;
  grid-template-columns: 20vw 80vw;
  width: 100%;

  &__main {
    padding: 3rem;
    overflow-y: scroll;
    overflow-x: scroll;
    height: calc(100vh - 5rem);
    width: 100%;
  }

  &__landing {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 4rem;
    }

    p {
      color: var(--font-color);
      font-size: 1.5rem;
    }
  }

  &__mostUsed {
    margin-top: 10vh;

    h3 {
      font-size: 2rem;
      color: var(--font-color);
    }

    div {
      width: 40rem;
      border-radius: 1.1rem;
      height: 15rem;
      padding: 2rem;
      margin-top: 1rem;
      border: 1px solid var(--gray-dark-1);
      background-color: var(--gray-light-1);

      a {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}

.langSelect {
  display: flex;
  height: 5rem;

  button {
    padding: 1rem;
    width: 11rem;
    background-color: var(--gray-light-4);
    border: 1px solid var(--gray-dark-1);
    font-weight: 600;
    transition: all 0.2s;
    color: var(--font-color);

    &:hover {
      border: 1px solid var(--font-color);
      // color: #fff;
    }
  }

  &--left {
    border-radius: 1.1rem 0 0 1.1rem;
  }

  &--right {
    border-radius: 0 1.1rem 1.1rem 0;
  }
}

.newHoliday {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 2rem;

  &__top {
    display: flex;
    height: 5rem;
    width: 100%;
  }

  &__date {
    background-color: var(--gray-light-4);
    border: 1px solid var(--gray-dark-1);
    border-radius: 1.1rem;
    width: 25rem;
    padding: 1rem;
    transition: all 0.2s;
    color: var(--font-color);
    // font-weight: 600;

    &:hover {
      border: 1px solid #000;
    }
  }

  &__middle {
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
      "header img"
      "desc img";
    gap: 1.5rem;

    input,
    textarea {
      resize: none;
      background-color: var(--gray-light-3);
      border: none;
      border: 1px solid var(--gray-dark-1);
      padding: 2rem;
      width: 100%;
      border-radius: 1.1rem;
      margin-bottom: 0.5rem;
      color: var(--font-color);
      transition: all 0.1s cubic-bezier(0.61, 1, 0.88, 1);
      font-weight: 600;
    }
  }

  &__headerInput {
    grid-area: header;
  }

  &__descInput {
    grid-area: desc;
  }

  &__imgInput {
    grid-area: img;
    border-radius: 1.1rem;
    display: grid;
    place-items: center;
    background-color: var(--gray-light-3);
    border: 1px solid var(--gray-dark-1);

    p {
      color: var(--gray-dark-1);
      font-size: 2rem;
    }
  }

  &__bottom {
    // display: ;
  }

  &__simplifiedDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
      background-color: var(--gray-light-3);
      border: none;
      border: 1px solid var(--gray-dark-1);
      padding: 2rem;
      width: 100%;
      border-radius: 1.1rem;
      margin-bottom: 0.5rem;
      color: var(--font-color);
      transition: all 0.1s cubic-bezier(0.61, 1, 0.88, 1);
      font-weight: 600;
    }
  }
}
