.timeline {
  display: flex;
  gap: 2rem;
  width: fit-content;

  &__wrapper {
    margin: 0 -5rem 0 -5rem;
    padding: 0 5rem 0 5rem;
    overflow-x: scroll;
    border-radius: 1.1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    height: 35rem;
    width: 35rem;
    background-color: var(--light-2);
    box-shadow: var(--light-shadow);
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
    position: relative;

    &--text {
      position: absolute;
      top: 7rem;
      left: 2rem;
      z-index: 2;

      h1 {
        font-size: 4rem;
        line-height: 120%;
      }
    }

    &--progress {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      height: 100%;
      z-index: 1;
    }

    &--emoji {
      font-size: 5rem !important;
      margin-left: -1rem;
    }

    &--top {
      height: 5rem;
      margin: -2rem -2rem 0 -2rem;
    }

    &--button {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      padding: 1rem;
      background-color: var(--light-2);
      border-radius: 1rem;
      border: 1px solid var(--dark-1);
      color: var(--font);
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 700;
      width: 50%;
      display: grid;
      place-items: center;
      z-index: 2;
      transition: all 0.2s;

      &:hover {
        box-shadow: var(--light-shadow);
      }
    }
  }
}
