footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--gray-light-2);
  z-index: 1000;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    color: var(--font-color);
    transition: all 0.2s;
  }

  a:hover > li {
    text-decoration: underline;
  }

  a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.5s;
    transition: all 0.2s;
  }

  h3 {
    color: var(--font-color);
  }
}
