.topNav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem 0 2.5rem;
  text-align: center;
  background-color: #fd5252;
  z-index: 20;
  backdrop-filter: blur(11px);

  &__right {
    display: flex;
    gap: 1rem;

    h3 {
      font-size: 1.5rem !important;
      font-weight: 500 !important;
      text-align: right;
    }
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 0.2rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }
}

.sideNav {
  height: 100vh;
  background-color: var(--gray-light-3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__option {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 4rem;
  }

  &__alert {
    background-color: var(--gray-light-1);

    &--top {
      background-color: #fd5252;
      padding: 2rem;
      color: #fff;
      border-radius: 1.1rem 1.1rem 0 0;
      font-size: 1.7rem;
    }

    &--bottom {
      padding: 2rem;
      background-color: var(--gray-light-4);
      border-radius: 0 0 1.1rem 1.1rem;
      border: 1px solid var(--gray-dark-1);
      font-size: 1.3rem;
      color: var(--font-color);
    }
  }

  &__optionGroup {
    border: 1px solid var(--gray-dark-1);
    border-radius: 1.1rem;

    &--top {
      background-color: var(--gray-light-2);
      padding: 2rem;
      color: var(--font-color);
      border-radius: 1.1rem 1.1rem 0 0;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &--bottom {
      padding: 2rem;
      background-color: var(--gray-light-4);
      border-radius: 0 0 1.1rem 1.1rem;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;

      a {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--font-color);
        height: fit-content;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        color: #ffffff50;

        &:hover {
          background-color: var(--gray-light-1);
          transition: all 0.2s;
          color: #fff;
        }
      }
    }

    &--chevron {
      margin-left: auto;
      font-size: 3rem;
    }
  }
}
