footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--gray-dark-1);
  z-index: 1000;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    color: var(--font-color);
  }

  a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: var(--gray-dark-1);
    }
  }

  h3 {
      color: var(--font-color);
  }
}

.dark-footer {
  background-color: var(--gray-dark-1);
}