.header {
  // background-image: url("https://a-static.besthdwallpaper.com/2021-yae-miko-electro-character-genshin-impact-anime-video-game-wallpaper-3840x2160-74983_54.jpg");
  background-size: cover;
  padding: 8vh;
  display: flex;
  width: 100%;

  @include respond(phone) {
    flex-direction: column;
    padding: 3vh;
    height: 20rem;
  }

  h1 {
    color: #fff;
    font-size: 6rem;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &__account {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    @include respond(phone) {
      gap: 0;
    }

    h3 {
      color: white;
      font-size: 3rem;
      text-align: right;

      @include respond(phone) {
        font-size: 2rem;
        display: hidden;
        opacity: 0;
        color: transparent;
      }
    }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    z-index: 1000;
    color: var(--gray-dark-2);
    background-color: var(--gray-light-2);
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.2s;

    @include respond(phone) {
      font-size: 2rem;
    }

    &:hover {
      transform: rotate(-50deg);
      scale: 1.1;
    }

    &:active {
      transform: rotate(250deg);
      scale: 0.9;
    }
  }

  &__userProfile {
    position: relative;

    img {
      border-radius: 50%;
      display: inline-block;
      object-fit: cover;

      @include respond(phone) {
        height: 110px;
        width: 110px;
      }
    }

    a {
      // overflow: hidden;
      // border-radius: 50%;
      // height: 100%;
      // width: 100%;
      // display: flex;
      // transition: all .2s;
      // position: relative;
      // display: grid;
      // place-items: center;

      span {
        position: absolute;
        font-size: 5rem;
        color: #fff;
        opacity: 0;
        z-index: 5;
        transition: all 0.1s;
        transition-delay: 0.1s;
      }

      img {
        transition: all 0.2s;
      }
    }
  }
}
