.header {
    // background-image: url("https://a-static.besthdwallpaper.com/2021-yae-miko-electro-character-genshin-impact-anime-video-game-wallpaper-3840x2160-74983_54.jpg");
    background-size: cover;
    padding: 8vh;
    display: flex;
    width: 100%;

    @include respond(phone) {
        flex-direction: column;
        gap: 4rem;
        padding: 3vh;
        height: 25vh;
    }

    h1 {
        color: #fff;
        font-size: 6rem;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__account {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        
        img {
            border-radius: 50%;
            display: inline-block;
            object-fit: cover;
            @include respond(phone) {
                height: 110px;
                width: 110px;
            }
        }

        h3 {
            color: white;
            font-size: 3rem;
            text-align: right;

            @include respond(phone) {
                font-size: 2rem;
                display: hidden;
                opacity: 0;
                color: transparent;
            }
        }
    }
    

    &__userProfile {
        a {
            overflow: hidden;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            display: flex;
            transition: all .2s;
            position: relative;
            display: grid;
            place-items: center;

            span {
                position: absolute;
                font-size: 5rem;
                color: #fff;
                opacity: 0;
                z-index: 5;
                transition: all 0.1s;
                transition-delay: 0.1s;
              }

            img {
                transition: all 0.2s;
            }

            &:hover > img {
                filter: blur(1.1rem);
            }

            &:hover > span {
                opacity: 1;
              }

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
              }
        }
    }
}