<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timetables | Home</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="./img/ico.png">

  </head>
  <body>
    <header class="newTemplate__header">
      <h1 class="header__text">Hmm...<br>seems like your class has not been added!</h1>
      <h3 class="header__text">Add it now? Contact Us!</h3>
      <h1 class="phone__text">Hmm...<br>seems like your class has not been added!</h1>
      <h3 class="phone__text">Add it now? Contact Us!</h3>
      <h1 class="tablet__text">Hmm...<br>seems like your class has not been added!</h1>
      <h3 class="tablet__text">Add it now? Contact Us!</h3>
    
    <main>
      <div class="options">
        <a href="/template/template.json" download>
          <button class="btn btn__big"><i class='bx bxs-widget' ></i> Get Template</button>
        </a>
        <a href="/">
          <button class="btn btn__square"><i class='bx bxs-home' ></i></button>
        </a>
        <a href="https://discord.gg/cVkrkkUw2W">
          <button class="btn btn__square"><i class='bx bxl-discord-alt'></i></button>
        </a>
      </div>
    </main>
  </header>
 <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  <script src="./script/main.js"></script>
</html>

